/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Tipo de fuente principal para el cuerpo de la página */
    background-color: #f8f9fa; /* Color de fondo del cuerpo de la página */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

/* Estilos para el contenedor principal */
.container {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Añade espacio interno alrededor del contenido del contenedor */
    background-color: #fff; /* Color de fondo del contenedor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el contenedor */
}

/* Estilos para el encabezado principal */
h1 {
    font-size: 28px; /* Tamaño de fuente del encabezado principal */
    color: #333; /* Color del texto del encabezado */
    margin-bottom: 20px; /* Margen inferior del encabezado */
}

/* Estilos para los párrafos */
p {
    font-size: 16px; /* Tamaño de fuente de los párrafos */
    color: #666; /* Color del texto de los párrafos */
    margin-bottom: 20px; /* Margen inferior de los párrafos */
}

/* Estilos para el campo de entrada de tipo "email" */
input[type="email"], input[type="password"] {
    width: 100%; /* Ancho del campo de entrada al 100% */
    padding: 10px; /* Añade espacio interno alrededor del contenido del campo de entrada */
    margin-bottom: 20px; /* Margen inferior del campo de entrada */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total del campo de entrada */
    border: 1px solid #ddd; /* Borde del campo de entrada */
    outline: none; /* Elimina el contorno predeterminado al hacer clic en el campo de entrada */
    font-size: 14px; /* Tamaño de fuente del campo de entrada */
}

/* Estilos para el botón de tipo "submit" */
button[type="submit"] {
    background-color: #333; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Añade espacio interno alrededor del contenido del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 14px; /* Tamaño de fuente del botón */
}

/* Estilos al pasar el ratón sobre el botón */
button[type="submit"]:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/* Estilo para quitar el subrayado del enlace y color */
.forgotpass {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: black; /* Color del texto del enlace */
}

/* Estilo para posicionar el enlace en la esquina superior derecha */
.register-link {
    position: absolute; /* Posiciona de manera absoluta el enlace */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la parte derecha */
}

/* Estilo para posicionar el enlace "¿Eres nuevo?" */
.nuevo  {
    position: absolute; /* Posiciona de manera absoluta el enlace */
    top: 18px; /* Distancia desde la parte superior */
    right: 140px; /* Distancia desde la parte derecha */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #333; /* Color del texto del enlace */
}
